.ByYearSection {
  /* height: 450px; */
  align-items: center;
  justify-content: center;
  /* border: 3px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.SectionHeader {
  color: white;
  font-family: "Raleway-SemiBold";
  font-size: 26px;
  margin: 0;
  padding-bottom: 3%;
}

.YearAndButtonsContainer {
  /* border: 2px solid yellow; */
  background-color: #09090D;
  height: 70px;
  width: 100%;
  align-items: center;
  padding: 4%;
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.YearAndButtonsContainer span {
  /* border: 1px solid red; */
  width: 75px;
  max-width: 75px;
  font-size: 28px;
  font-family: "Raleway-Regular";
  color: white;
}

.YearAndButtonsSpacer {
  height: 100%;
  /* border: 1px solid green; */
  flex: 1;
}

.LeftNavContainer {
  /* border: 1px solid lightskyblue; */
  height: 100%;
  justify-content: center;
  align-items: center;
  /* width: 5%; */
}

.RightNavContainer {
  /* border: 1px solid red; */
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.TranspButton button {
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  /* border: 1px solid cyan; */
  color: white;
  font-size: 32px;
  padding: 0;
  /* width: 16px; */
}

.TranspButton button svg {
  height: 35px;
}


.ShowButton {
  visibility: visible;
  /* pointer-events: none; */
}

.HideButton {
  visibility: hidden;
  /* border: 3px dashed white; */
}





.DisplayArea {
  /* border: 4px dotted red; */
  /* width: 100%; */
  /* max-width: 100%; */
  /* height: 205px; */
  /* display: grid; */
  /* grid-template: 50% 50% / 1fr; */
}

.GraphHalf {
  /* grid-area: 1/1/2/2; */
  height: 225px;
  width: 100%;
  box-sizing: border-box;
  /* border: 2px solid green; */
  display: grid;
  grid-template: 80% 20% / 1fr;
  /* margin: 10px 0px 10px 0px; */
  padding: 10px 0px 10px 0px;
  background-color: #343750;
}

.GraphArea {
  grid-area: 1/1/2/2;
  background-color: #343750;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.MonthBarsContainer {
  /* border: 1px solid lime; */
  height: 96%;
  width: 90%;
  align-items: flex-end;
}

@keyframes growIn {
  0% {
    height: 0%;
  }

  100% {
    height: 99%;
  }
}

.MonthBarContainer {
  height: 99%;
  width: 8.333%;
  /* padding: 1px; */
  /* border: 1px solid white; */
  justify-content: flex-end;
  align-items: center;
}

/* .MonthBarDigit {
  font-size: 8px;
  color: black;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0px;
  height: 10%;
} */

.MonthBar {
  /* border: 1px solid white; */
  height: 100%;
  width: 30%;
  justify-content: flex-end;
  animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .MonthSubBar {
  border-radius: 150px;
} */

.MonthSubBar:first-child {
  border-radius: 150px 150px 0px 0px;
}

.MonthSubBar:last-child {
  border-radius: 0px 0px 150px 150px;
}

.MonthSubBar:only-child {
  border-radius: 150px;
}


/* .MonthlyTotalBar {
  background-color: black;
  width: 30%;
  border-radius: 150px;
} */

.GraphFooter {
  grid-area: 2/1/3/2;
  /* border: 2px solid pink; */
  /* background-color: rgb(180, 187, 251) */
  background-color: #343750;
  justify-content: center;
  align-items: center;
}

.MonthLabelsContainer {
  /* border: 1px solid red; */
  width: 90%;
  font-size: 14px;
  font-family: "Raleway-Regular";
  text-decoration: none;
  color: white;

}

.MonthLabel {
  /* border: 1px solid white; */
  width: 8.333%;
  font-weight: 400;
}

.ListHalf {
  /* border: 2px solid orange; */
  /* grid-area: 2/1/3/2; */
  width: 100%;
  /* height: 100px; */
  background-color: #09090D;
  border-radius: 0px 0px 15px 15px;
  /* padding: 0% 2%;
  box-sizing: border-box; */
  justify-content: center;
  padding: 4% 0%;
}