.ChangeModal {
  /* height: 500px; */
  width: 100%;
  max-width: 382px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid yellow; */
  /* padding: 5%; */
  padding-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  transition: opacity 0.2s;
}

.ChangeSearchLoading-false {
  background-color: #292B3E;
}

.ChangeSearchLoading-true {
  background: none;
  border: none;
}

.ChangeReplaceSuccess-true {
  /* background: none; */
  /* border: none; */
}

.ChangeModalContentContainer {
  /* border: 3px solid white; */
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}


.TrackInfo {
  /* border: 3px solid white; */
  justify-content: space-between;
  padding: 2% 5% 5% 5%;
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
}

.TrackInfoOpenInSpotify {
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid #292b3e;
  border-radius: 150px;
  padding-right: 25px;
  padding-left: 15px;
  margin-bottom: 14px;
  background-color: #4c4f73;
}

.TrackInfoOpenInSpotify a {
  text-decoration: none;
  color: white;
}

.TrackInfoOpenInSpotify span {}


.SearchResultsInfo {
  position: absolute;
  /* border: 3px solid red; */
  background-color: #292b3e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 15px;
  z-index: 7;
  padding: 0% 5% 5% 5%;
  box-sizing: border-box;
}

.SearchResultsDisplay {
  height: 65%;
  width: 100%;
  background-color: #1a1b27;
  border-radius: 10px;
  overflow-y: scroll;
}

.SearchResultsDisplay::-webkit-scrollbar {
  height: 40px;
}

.SearchResultsDisplay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.SearchResultsDisplay::-webkit-scrollbar-thumb {
  background-color: #a2a4bb;
  outline: none;
  height: 10px;
  border-radius: 20px;
}

.ChangeModalPreviewContainer {
  /* border: 1px solid red; */
  margin-left: auto;
  /* margin-left: 8px; */
  height: 100%;
  width: 40px;
  display: flex;
  position: relative;
}

.ChangeModalPreviewContainer>.Preview {
  position: absolute;
  top: 7px;
  left: 0;
}


#ChangeModalDuration {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  /* margin-left: 8px; */
  /* margin-left: auto; */
  /* margin-right: 3px; */
  /* border: 1px solid red; */
  font-size: 10px;
}

.SearchResultsInfo button {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #7316C6;
  font-family: "Raleway-Bold";
  font-size: 16px;
  font-weight: 800;
  margin-top: 5%;
  color: white;
}

#ChangeModelOpen {
  width: 47.5% !important;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #7316C6;
  font-family: "Raleway-Bold";
  font-size: 16px;
  font-weight: 800;
  margin-top: 5%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResultsSelectCancelButtons {
  justify-content: space-between;
}

.ResultsSelectCancelButtons button {
  width: 47.5% !important
}

#ChangeModalSelect {
  background-color: #66b06e !important;
}

#ChangeModalSelect:disabled {
  background-color: #7316C6 !important;
  opacity: 0.5;
}


.Selected-true {
  /* border: 3px solid white; */
  /* border-top: 3px solid white !important; */
  background-color: #66b06e !important;
}

.ChangeModalInfoContainer {
  /* height: 50%; */
  width: 100%;
}

.TrackArtContainer {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin-bottom: 10px; */
  margin-top: 10px;
  height: 185px;
  justify-content: center;
  align-items: center;
}

.SpotifyArtwork {
  height: 135px;
  width: 135px;
  /* width: auto; */
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  /* border: 1px solid white; */
}

.SpotifyArtworkNull {
  display: flex;
  height: 135px;
  width: 135px;
  font-size: 100px;
  /* width: auto; */
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
}

.TitleArtistsContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  /* justify-content: space-evenly; */

  /* font-weight: 300; */
  /* margin-top: 10px; */
  margin: 6% 0px;
}

.TitleContainer {
  font-family: "Raleway-Regular";
  font-size: 22px;
  margin-bottom: 8px;
}

.ArtistsContainer {
  font-family: "Raleway-Regular";
  font-size: 16px;
}

.ChangeModalControlsContainer {
  /* border: 1px solid green; */
  width: 100%;
  /* flex: 1; */
}

.ChangeModalControlsContainer input {
  height: 50px;
  /* height: 20%; */
  width: 94%;
  border: none;
  background-color: #1B1C2A;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 0px 10px;
}


.InputBarError-true {
  /* height: 40px; */
  border: none;
  outline: 2px solid red;
}

.InputBarError-true:focus {
  /* height: 40px; */
  border: none;
  outline: 2px solid red;
}

.ChangeModalControlsContainer button {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #7316C6;
  font-family: "Raleway-Bold";
  font-size: 16px;
  font-weight: 800;
  margin-top: 5%;
  color: white;
}

.ChangeModalControlsContainer button:nth-child(4) {
  /* background-color: #66B06E; */
}

.ErrorAndSearchContainer {
  /* border: 1px solid cyan; */
  height: 50px;
  margin-top: 5%;
  width: 100%;
}

.ErrorAndSearchContainer button {
  margin-top: 0%;
  width: 80px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.ErrorContainer {
  /* border: 3px dashed red; */
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  /* color: red; */
  justify-content: flex-start;
}

.InputErrorMsg-false {
  visibility: hidden;
}

.InputErrorMsg-true {
  visibility: visible;
  color: red;
}

.ChangeModal button:disabled {
  opacity: 0.25;
}


.ReplaceSuccessMessage {
  /* border: 1px solid yellow; */
  /* background-color: ; */
  border-radius: 15px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReplaceSuccessMessage span:nth-child(2) {
  margin-top: 5%;
  font-family: "Raleway-Bold";
  font-size: 28px;
  background-color: #292B3E;
  border-radius: 15px;
  padding: 5%;
}

.ChangeModalGreenCircleContainer {
  height: 45%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.ChangeOptionsContainer {
  /* border: 3px solid cyan; */
  justify-content: space-between;
  /* margin-bottom: 5%; */
  border-radius: 15px;
}

.ChangeOptionsContainer button {
  height: 50px;
  width: 50%;
  /* border-radius: 10px; */
  border: none;
  /* background-color: #7316C6; */
  font-family: "Raleway-Regular";
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.ChangeSearchButton {
  /* border: 2px solid red; */
  border-radius: 15px 0px 0px 0px;
}

.ChangePasteButton {
  /* border: 2px solid red; */
  border-radius: 0px 15px 0px 0px;
  /* border-left: 1px solid rgba(255, 255, 255, 0.253) !important; */
}


.ChangeMode-true {
  /* border: 3px solid white; */
  /* border: none; */
  background-color: #292b3e;
  /* text-decoration: underline; */
  /* border-top: 2px solid rgba(255, 255, 255, 0.253) !important; */
  color: #98FFAD !important;
}

.ChangeMode-false {
  border: none;
  /* color: rgba(255, 255, 255, 0.491) !important; */
  background-color: #161723;
}

.ChangeModalTrackCardInfo {
  /* border: 1px solid red; */
  width: 90%;
  align-items: center;
}

.SearchResultsDisplay a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChangeModalSpotifyArtworkLink {
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.ChangeModalSpotifyArtworkLink span {
  font-size: 12px;
}