.CreatePlaylistCard {
  border: 2px dashed purple;
  height: 50px;
}

.CreatePlaylistCard button {
  width: 70px;
}

.newMode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}