.FinalReviewInterface {
  border: 1px solid green;
}

.FinalReviewFeedback {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.FinalReviewInterface h4,
h1,
h2,
h6 {
  /* border: 1px solid red; */
  margin: 5px 0px;
}

.PostsContainer {
  border: 2px solid green;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}

.SuccessIcon {
  height: 40vw;
  width: 40vw;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  margin-bottom: 50px;
}

.SuccessIcon span {
  font-size: 20vw;
}

.Green {
  background-color: limegreen;
}

.Red {
  background-color: red;
}

.Message {
  /* font-size: 38px; */
}

.Success {
  color: limegreen;
}

.Failure {
  color: red;
}