.NoNew {
  /* border: 2px solid darkgreen; */
  /* height: 90vh; */
  margin: auto 0;
  font-family: "Raleway-Thin";
}

.NoNew h1 {
  color: white;
  font-size: 38px;
}

.NoNew h3 {
  color: #76c77e;
  font-family: "Raleway-ExtraLight";
  font-size: 22px;

}

.NoNewGreenCircleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10% 0%;
}