.OverviewSection {
  /* border: 3px dashed white; */
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.OverviewGraphBox {
  background-color: rgb(172, 172, 172);
  height: 90%;
  max-height: 90%;
  width: 80%;
  max-width: 80%;
  display: grid;
  grid-template: 85% 15% / 1fr;
}

.GraphChartContainer {
  grid-area: 1/1/2/2;
  /* border: 2px solid red; */
}

.GraphFooterContainer {
  grid-area: 2/1/3/2;
  /* border: 2px solid blue; */
}

.ChartBarContainer {
  /* border: 1px solid green; */
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.BarAndNumberContainer {
  /* border: 2px dashed orange; */
  height: 95%;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
}

.BarContainer {
  /* border: 1px dashed cyan; */
  /* height: 100%; */
  position: relative;
  justify-content: flex-end;
}

.NumberContainer {
  /* border: 1px solid green; */
  height: 15%;
  /* justify-content: center; */
  font-size: 125%;
  color: gray
}

.Bar {
  /* height: 100%; */
  width: 45%;
  border-radius: 150px;
  background-color: black;
}

.FooterYearContainer {
  /* border: 1px solid green; */
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: black;
}