.StatsContainer {
  /* border: 2px dashed yellow; */
  /* height: 99vh;
  overflow-y: scroll;
  */
  justify-content: center;
  align-items: center;

  height: 100%;
  /* width: 100%; */
  max-height: 100%;
  /* padding: 5%; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.StatsSpinnerContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #292B3E;
  /* opacity: 0.5; */
  height: 100%;
  z-index: 999;
}

.StatsGoBackContainer {
  /* border: 1px solid lime; */
  justify-content: flex-start;
  align-items: center;
  height: 5%;
}

.StatsGoBackContainer button {
  height: 100%;
  width: 40%;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  justify-content: flex-start;
  align-items: center;
}

.StatsGoBackContainer span {
  font-family: "Raleway-Regular";
  font-size: 22px;
  margin-left: 12px;
}

.Stats {
  /* border: 3px solid lime; */
  /* purple */
  height: 100%;
  width: 100%;
  /* padding: 5%; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
}

.StatsPadding {
  padding: 5%;
}


.Stats::-webkit-scrollbar {
  display: none;
}


.StatsInfoPod {
  margin-top: 5%;
  border-radius: 15px;
  background-color: #09090D;
  padding: 5% 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-items: flex-start;
}

.StatsInfoPod img {
  border-radius: 15px;
}

.StatsInfoPod h1 {
  font-family: "Raleway-Bold";
  /* font-size: 36px; */
  margin: 14px 0px 6px 0px;
  /* border: 1px solid red; */
  /* line-height: 36px; */
  text-align: left;
}

.StatsInfoPod h2 {
  font-family: "Raleway-Thin";
  font-size: 20px;
  margin: 0;
}

.StatsInfoPod h2 span {
  font-family: "Raleway-SemiBold";
  font-size: 20px;
  color: white;
}

.StatsInfoPod span {
  font-family: "Raleway-Regular";
  font-size: 12px;
  color: hotpink;
  width: 100%;
  text-align: center;
  margin-top: 14px;
}


.StatsInfoPod img {}

.StatsInfoPod img {}

.StatsInfoPod img {}



.StatsInfoPod img {}












/* ------------------------------------------- */

.SpotifyPlaylistArtwork {
  /* border: 3px solid green; */
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

.Flex {
  display: flex;
}

.Section {
  justify-content: flex-start;
  align-items: center;
}

.Column {
  flex-direction: column;
}

.ContributorsSpacer {
  width: 100%;
  height: 2px;
  background-color: #4A4964;
  margin: 25px 0px;
}

.ContributorsContainer {
  margin-top: 17px;
  /* height: 190px; */
}

.OverviewContainer {
  /* border: 2px solid gray; */
}

.ByYearContainer {
  /* border: 2px solid greenyellow; */
  align-items: center;

}

.ByGenreContainer {}

.ByPosterContainer {
  /* border: 2px solid purple; */
  /* height: 100%; */
}

/* .SectionHeader {
  margin: 0;
} */