.StatsContainer {
  /* border: 2px dashed yellow; */
  /* height: 99vh;
  overflow-y: scroll;
  */
  justify-content: center;
  align-items: center;

  height: 100%;
  /* width: 100%; */
  max-height: 100%;
  /* padding: 5%; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.StatsSpinnerContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #292B3E;
  /* opacity: 0.5; */
  height: 100%;
  z-index: 888;
}

.StatsGoBackContainer {
  /* border: 1px solid lime; */
  justify-content: flex-start;
  align-items: center;
  height: 5%;
}

.StatsGoBackContainer button {
  height: 100%;
  width: 40%;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  justify-content: flex-start;
  align-items: center;
}

.StatsGoBackContainer span {
  font-family: "Raleway-Regular";
  font-size: 22px;
  margin-left: 12px;
}

.StatsInfoPodOpenButton {
  color: white;
  border: none;
  /* border: 2px solid red; */
  background: none;
  margin-top: 5%;
  height: 50px;
  width: 100%;
  /* padding: 12px 50px; */
  border-radius: 10px;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: 600;
  background-color: #1DB954;
  /* background-color: #66B06E; */
  align-items: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 2px;
  padding-right: 15px;
  box-sizing: border-box;
}

.StatsInfoPodOpenButton img {
  height: 30px !important;
  width: 30px !important;
  padding: 15px !important;
}

.Stats {
  /* border: 3px solid lime; */
  /* purple */
  height: 100%;
  width: 100%;
  /* padding: 5%; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
}

.StatsPadding {
  padding: 5%;
  padding-bottom: 10%;
  /* border: 3px solid lime; */
}


.Stats::-webkit-scrollbar {
  display: none;
}


.StatsInfoPod {
  margin-top: 5%;
  border-radius: 15px;
  background-color: #09090D;
  padding: 5% 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-items: flex-start;
}

.StatsInfoPod img {
  border-radius: 15px;
}

.StatsInfoPod h1 {
  font-family: "Raleway-Bold";
  /* font-size: 36px; */
  margin: 14px 0px 6px 0px;
  /* border: 1px solid red; */
  /* line-height: 36px; */
  text-align: left;
}

.StatsInfoPod h2 {
  font-family: "Raleway-Thin";
  font-size: 20px;
  margin: 0;
}

.StatsInfoPod h2 span {
  font-family: "Raleway-SemiBold";
  font-size: 20px;
  color: white;
}

.StatsInfoPod span {
  font-family: "Raleway-Regular";
  font-size: 12px;
  color: hotpink;
  width: 100%;
  text-align: center;
  margin-top: 14px;
  /* border: 1px solid red; */
  text-align: left;
}


.StatsInfoPod img {}

.StatsInfoPod img {}

.StatsInfoPod img {}



.StatsInfoPod img {}












/* ------------------------------------------- */

.SpotifyPlaylistArtwork {
  /* border: 3px solid green; */
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

.Flex {
  display: flex;
}

.Section {
  justify-content: flex-start;
  align-items: center;
}

.Column {
  flex-direction: column;
}

.ContributorsSpacer {
  width: 100%;
  height: 2px;
  background-color: #4A4964;
  margin: 25px 0px;
}

.ContributorsContainer {
  margin-top: 17px;
  /* height: 190px; */
}

.OverviewContainer {
  /* border: 2px solid gray; */
}

.ByYearContainer {
  /* border: 2px solid greenyellow; */
  align-items: center;

}

.ByGenreContainer {}

.ByPosterContainer {
  /* border: 2px solid purple; */
  /* height: 100%; */
}

/* .SectionHeader {
  margin: 0;
} */

.SpotifyLoggedInBanner {
  /* width: 100%; */
  /* max-width: 100%; */
  margin-top: 5%;
  padding: 2%;
  border-radius: 10px;
  /* background-color: #66B06E; */
  background: none;
  border: 1px solid #66B06E;
  /* color: white; */
  color: white;
  font-size: 20px;
  font-family: "Raleway-Regular";
  word-wrap: break-word;
}

.SpotifyLoggedInBanner>svg {
  padding-left: 2%;
  color: #66B06E;
}

.PublicRegisterLoginContainer {
  /* border: 1px solid white; */
  padding: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  /* margin-bottom: 5%; */
  position: relative;
  font-family: "Raleway-Regular";
}

#PRLC-Star-1 {
  transform: rotate(-12deg);
  position: absolute;
  top: -10.5px;
  left: -15px;
  font-size: 41px;
  color: #66B06E;
}

#PRLC-Star-2 {
  transform: rotate(-12deg);
  position: absolute;
  top: -14px;
  left: -19px;
  font-size: 48px;
  color: white;
}



.PublicRegisterLoginContainer>span {
  width: 80%;
  /* background-color: white; */
  color: color;
  /* padding: 5% 0%; */
  /* border: 1px solid red; */
}

.PublicRegisterLoginButton {
  color: #09090D;
  border: none;
  /* border: 2px solid red; */
  background: none;
  margin-top: 5%;
  height: 50px;
  width: 100%;
  /* padding: 12px 50px; */
  border-radius: 10px;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  align-items: center;
}