.Update {
  height: 97%;
  max-height: 97%;
  /* flex: 1; */
  padding: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* position: relative; */
}

@keyframes helpBounce {
  0% {
    margin-bottom: 0px;
  }

  40% {
    margin-bottom: 0px;
  }

  75% {
    margin-bottom: 10px;
  }

  100% {
    margin-bottom: 0px;
  }
}

.UpdateGoBackContainer {
  /* border: 1px solid lime; */
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  transition: background-color 0.7s ease;
}

.UpdateGoBackContainer button {
  height: 100%;
  width: 40%;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  justify-content: flex-start;
  align-items: center;
}

.UpdateGoBackContainer button:nth-child(1) {
  transition: opacity 0.5s ease;
}


.UpdateGoBackContainer span {
  font-family: "Raleway-Regular";
  font-size: 22px;
  margin-left: 12px;
}

.InfoArea {
  /* border: 1px solid hotpink; */
  height: 95%;
  max-height: 95%;
  /* flex: 1; */
  /* justify-content: center; */
  /* align-items: center; */
  transition: opacity 0.5s ease;
}