:root {
  color-scheme: light only;
  font-family: sans-serif, Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: #292B3E;
  color: white;
  height: 100vh;
  /* 92vh */
  max-height: 100vh;
  /* 92vh */
  /* border: 5px solid orange; */
  display: flex;
  justify-content: center;
  /* border: 2px solid orange; */
  box-sizing: border-box;
  font-family: sans-serif, Helvetica, Arial, sans-serif;
}

.AppView {
  background-color: #292B3E;
  /* border: 2px solid green; */
  border-radius: 15px;
  height: 100%;
  max-height: 100%;
  width: 362px;
  max-width: 362px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif, Helvetica, Arial, sans-serif;
  position: relative;
  transition: background-color 0.7s ease;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Raleway-Bold {
  font-family: "Raleway-Bold";
}

.Raleway-ExtraLight {
  font-family: "Raleway-ExtraLight";
}

.Raleway-Regular {
  font-family: "Raleway-Regular";
}

.Raleway-SemiBold {
  font-family: "Raleway-SemiBold";
}

.Raleway-Thin {
  font-family: "Raleway-Thin";
}

.SpotifyLoginContainer {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 12px;
}

.SpotifyLoginScreen {
  /* border: 1px solid red; */
  height: 255px;
  background-color: #09090D;
  border-radius: 15px;
  padding: 2% 5% 7% 5%;
  justify-content: center;
  align-items: center;

}

.SpotifyLoginScreen h1 {
  font-size: 41px;
  /* border: 1px solid red; */
  width: 96%;
  text-align: left;
  /* padding-left: 2%; */
  margin: 0;
  margin-bottom: 15px;
}

.SpotifyLoginContainer a {
  background-color: white;
  width: 100%;
  min-height: 50px;
  color: #292B3E;
  font-family: sans-serif, Helvetica, Arial;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 5%;
  /* padding-top: 2px; */
}

.SpotifyLoginContainer img {
  height: 30px;
  padding: 15px;
  width: auto;
  /* margin-bottom: 2px; */
}


.HelpButton {
  border: 1px solid white !important;
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 150px !important;
  font-size: 20px !important;
  background: none;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 2px;
  padding-left: 6.5px;
  transition: background-color 0.5s;
  animation: margin-bottom 0.25s;
}

.CopyrightFooter {
  /* border: 1px solid red; */
  color: white;
  font-size: 12px;
  font-family: "Raleway-Regular";
  height: 35px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* padding: 4%; */
  /* padding-bottom: 0 !important; */
}

.CopyrightFooter span {
  margin: 4px;
}

.CopyrightFooter a {
  color: #66B06E !important;
  font-size: 12px !important;
}

#PrivacyPolicyLink {
  text-decoration: underline;
}

#SpotifyIconWhite {
  height: 21px;
  width: 21px;
  padding: 10px;
}

#SpotifyLogoWhiteLarge {
  height: 70.8px;
  width: 236.8px;
  /* width: auto; */
  padding: 36px;
}

#SpotifyLoginPrivacyPolicy {
  text-decoration: underline;
}

#MobileWarning {
  font-size: 12px;
  font-weight: 100;
}

.SpotifyCreditFooter {
  /* border: 1px solid red; */
  font-size: 13px;
  /* padding-bottom: 10%; */
  justify-content: center;
  align-items: center;
  font-family: "Raleway-ExtraLight";
  padding-right: 15px;
}

#SpotifyCreditFooterLink {
  text-decoration: none !important;
}