:root {
  color-scheme: light only;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Raleway',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 92vh;
  max-height: 92vh;
  /* border: 3px solid orange; */
  background-color: #292B3E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"),
    url("./fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: local("Raleway-ExtraLight"),
    url("./fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"),
    url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: local("Raleway-SemiBold"),
    url("./fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Thin";
  src: local("Raleway-Thin"),
    url("./fonts/Raleway-Thin.ttf") format("truetype");
}